workflows/Thordata/Unstructured Resume Parser with Thordata Universal API + Open AI gpt-4.1-mini.json
{
  "name": "Unstructured Resume Parser with Thordata Universal API + Open AI gpt-4.1-mini",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        -48
      ],
      "id": "d11672dd-5801-4196-aecd-91463329f1af",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "175a52cb-6b2e-480b-b74f-1cbc319bea78",
              "name": "resume_url",
              "value": "https://registry.jsonresume.org/thomasdavis?theme=elegant",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        -48
      ],
      "id": "f4a7fc09-6f0c-4470-a9a6-7021605825de",
      "name": "Set the Input Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://universalapi.thordata.com/request",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.resume_url }}"
            },
            {
              "name": "type",
              "value": "html"
            },
            {
              "name": "js_render",
              "value": "False"
            },
            {
              "name": "country",
              "value": "in"
            },
            {
              "name": "clean_content",
              "value": "css,js"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        -48
      ],
      "id": "058c120c-48f3-4c7f-b486-c49b026ea632",
      "name": "Perform Thordata Universal API Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "Sl1MQcpMpwJOFNbB",
          "name": "Thordata Universal API Token"
        }
      }
    },
    {
      "parameters": {
        "text": "=Analyze and Parse the provided resume in JSON Resume format.\n\n {{ $json.markdown }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": { \"type\": \"string\" },\n    \"basics\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"name\": { \"type\": \"string\" },\n        \"label\": { \"type\": \"string\" },\n        \"image\": { \"type\": \"string\" },\n        \"email\": { \"type\": \"string\" },\n        \"phone\": { \"type\": \"string\" },\n        \"url\": { \"type\": \"string\" },\n        \"summary\": { \"type\": \"string\" },\n        \"location\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"city\": { \"type\": \"string\" },\n            \"region\": { \"type\": \"string\" },\n            \"country\": { \"type\": \"string\" }\n          }\n        },\n        \"profiles\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"network\": { \"type\": \"string\" },\n              \"username\": { \"type\": \"string\" },\n              \"url\": { \"type\": \"string\" }\n            }\n          }\n        }\n      }\n    },\n    \"work\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": { \"type\": \"string\" },\n          \"position\": { \"type\": \"string\" },\n          \"startDate\": { \"type\": \"string\" },\n          \"endDate\": { \"type\": \"string\" },\n          \"summary\": { \"type\": \"string\" },\n          \"highlights\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          }\n        }\n      }\n    },\n    \"education\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"institution\": { \"type\": \"string\" },\n          \"area\": { \"type\": \"string\" },\n          \"studyType\": { \"type\": \"string\" },\n          \"startDate\": { \"type\": \"string\" },\n          \"endDate\": { \"type\": \"string\" },\n          \"gpa\": { \"type\": \"string\" }\n        }\n      }\n    },\n    \"skills\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": { \"type\": \"string\" },\n          \"level\": { \"type\": \"string\" },\n          \"keywords\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          }\n        }\n      }\n    },\n    \"projects\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": { \"type\": \"string\" },\n          \"description\": { \"type\": \"string\" },\n          \"url\": { \"type\": \"string\" },\n          \"technologies\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          }\n        }\n      }\n    },\n    \"certifications\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": { \"type\": \"string\" },\n          \"issuer\": { \"type\": \"string\" },\n          \"date\": { \"type\": \"string\" },\n          \"url\": { \"type\": \"string\" }\n        }\n      }\n    },\n    \"languages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"language\": { \"type\": \"string\" },\n          \"fluency\": { \"type\": \"string\" }\n        }\n      }\n    },\n    \"interests\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": { \"type\": \"string\" },\n          \"keywords\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          }\n        }\n      }\n    },\n    \"meta\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"lastModified\": { \"type\": \"string\" },\n        \"version\": { \"type\": \"string\" }\n      }\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        96,
        -48
      ],
      "id": "17cc1967-f926-4d5e-b2a2-3b832428cfa3",
      "name": "JSON Resume Builder"
    },
    {
      "parameters": {
        "html": "={{ $json.html }}",
        "destinationKey": "markdown",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -112,
        -48
      ],
      "id": "3411f8ee-2cd6-40d9-a7e0-bc78ba07803d",
      "name": "Convert HTML to Markdown format"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        96,
        144
      ],
      "id": "503b332e-72c2-4e6a-8026-32be9ea84aa1",
      "name": "OpenAI Chat Model for Resume Builder",
      "credentials": {
        "openAiApi": {
          "id": "vPKynKbDzJ5ZU4cU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "![Logo](https://consumersiteimages.trustpilot.net/business-units/67b212598525b99cf90a59cc-198x149-1x.jpg)",
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -896,
        -272
      ],
      "id": "7bb68b59-496a-4d27-abad-98e2f3e7f9b5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Purpose\n\nThis workflow automates the process of parsing unstructured resume data into structured JSON objects compatible with the [JSON Resume Schema](https://jsonresume.org/schema/).\n\nIt leverages **Thordata Universal API** for intelligent document ingestion and **OpenAI GPT-4.1-mini** for contextual field extraction, ensuring high-quality structured resume output for ATS, CRM, or recruitment analytics systems.",
        "height": 192,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        240
      ],
      "id": "44d3a647-e9a6-4df5-9323-6c73e213698f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Flow Summary\n\n1. **Set the Input Fields**\n\n   * Hosted resume over the web. An URL where the Resume exist needs to be set to the input field. \n\n2. **Document Processing via Thordata Universal API**\n\n   * The file is sent to Thordata’s Universal API for format normalization and content extraction (text, layout, metadata).\n\n3. **AI-Powered Resume Structuring**\n\n   * The cleaned text is passed to the **OpenAI GPT-4.1-mini** node with a JSON schema prompt.\n   * GPT extracts entities such as:\n\n     * `basics`: name, email, phone, location\n     * `work`: employer, job title, duration, responsibilities\n     * `education`: school, degree, years\n     * `skills`: technical and soft skills\n     * `projects`, `certifications`, and `languages`\n\n4. **Output Delivery**\n\n   * Structured JSON is saved to:\n\n     * Google Sheets for visualization\n",
        "height": 672,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        240
      ],
      "id": "c5699247-25fb-4cd7-a499-448e39a74666",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "functionCode": "\n\nitems[0].binary = {\n  data: {\n    data: new Buffer(JSON.stringify(items[0].json, null, 2)).toString('base64')\n  }\n};\nreturn items;"
      },
      "name": "Create a Binary Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        512,
        -208
      ],
      "id": "b2c386d3-7273-4d4b-9f54-57a37d7a1be1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1CCj7PRT93hmTfkrDXSw6vwmz5UGZED4vA5l7LCNIAhk",
          "mode": "list",
          "cachedResultName": "Resume Parser",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CCj7PRT93hmTfkrDXSw6vwmz5UGZED4vA5l7LCNIAhk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CCj7PRT93hmTfkrDXSw6vwmz5UGZED4vA5l7LCNIAhk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "json_resume": "={{ $json.output.toJsonString() }}"
          },
          "matchingColumns": [
            "json_resume"
          ],
          "schema": [
            {
              "id": "json_resume",
              "displayName": "json_resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        48
      ],
      "id": "ba8a6b86-1f67-4e2b-8e0b-d15c472014dd",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Zjoxh2BUZ6VXGQhA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Export Data Handling\n\nExport the JSON Resume to Disk and Google Speadsheet",
        "height": 608,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -320
      ],
      "id": "4e8e9db6-6563-4978-a10b-2aeca99986ee",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Structured Resume Parser\n\nUses the OpenAI gtp-4.1.mini for parsing the resume content in Markdown format to JSON resume",
        "height": 528,
        "width": 336,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -240
      ],
      "id": "4e763ad5-b280-4775-8f9c-641045e531b0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Thordata Universal API\n\nThordata Universal API is being used for web scraping the URL content",
        "height": 384,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        -224
      ],
      "id": "711338ef-1a0c-4c8b-b3bd-d0d3df5416fb",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=C:\\\\{{ $json.output.basics.name }}.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        688,
        -208
      ],
      "id": "f776447a-71e0-453d-82d1-7b5382080847",
      "name": "Write the Structured JSON resume to Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set the Input Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set the Input Fields": {
      "main": [
        [
          {
            "node": "Perform Thordata Universal API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perform Thordata Universal API Request": {
      "main": [
        [
          {
            "node": "Convert HTML to Markdown format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to Markdown format": {
      "main": [
        [
          {
            "node": "JSON Resume Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model for Resume Builder": {
      "ai_languageModel": [
        [
          {
            "node": "JSON Resume Builder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a Binary Response": {
      "main": [
        [
          {
            "node": "Write the Structured JSON resume to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Resume Builder": {
      "main": [
        [
          {
            "node": "Create a Binary Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac735304-9377-482f-b88c-e3d8f43eae85",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "885b4fb4a6a9c2cb5621429a7b972df0d05bb724c20ac7dac7171b62f1c7ef40"
  },
  "id": "KZfuTnflUHXV4drQ",
  "tags": [
    {
      "createdAt": "2025-04-13T05:38:08.053Z",
      "updatedAt": "2025-04-13T05:38:08.053Z",
      "id": "ddPkw7Hg5dZhQu2w",
      "name": "AI"
    },
    {
      "createdAt": "2025-04-13T15:23:40.462Z",
      "updatedAt": "2025-04-13T15:23:40.462Z",
      "id": "ZOwtAMLepQaGW76t",
      "name": "Building Blocks"
    },
    {
      "createdAt": "2025-04-09T01:31:00.558Z",
      "updatedAt": "2025-04-09T01:31:00.558Z",
      "id": "Kujft2FOjmOVQAmJ",
      "name": "Engineering"
    },
    {
      "createdAt": "2025-04-13T04:59:30.580Z",
      "updatedAt": "2025-04-13T04:59:30.580Z",
      "id": "rKOa98eAi3IETrLu",
      "name": "HR"
    }
  ]
}